{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for article in category.articles %}
        <article>
            <h1>{{ article.title }}</h1><br>
        </article>
    {% endfor %}
    <h1>{{ category.label }}</h1>
{% endblock %}
