$palette-snow: #ffffff;
$palette-mine-shaft: #373737;
$palette-cod-grey: #1F1E1E;
$palette-generic-viridian: #107E6C;

$category-text: $palette-snow;

$menu-border: $palette-mine-shaft;
$menu-background-hover: $palette-generic-viridian;
