.wrapper {
  width: 100%;

  &-resize {
    margin: auto;
    max-width: 128rem;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  &-logout {
    a {
      font-weight: 800;
      text-decoration: underline;
    }
  }

  &-small {
    max-width: 52rem;
  }

  &-medium {
    max-width: 70rem;
  }

  &-changelog{
    h2{
      padding-bottom: 1rem;
      border-bottom: 1px solid;
      border-color: $palette-mine-shaft;
    }
  }
}