{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="wrapper-resize grid grid-gap-40">
            {% include "includes/contact_form.html.twig" %}
        </div>
    </section>
{% endblock %}
