@media (prefers-color-scheme: dark) {
  body {
    color: #eeeeee;
    background-color: #181818;
  }
}

body{
  padding-top: 8rem;
  padding-bottom: 4rem;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.6rem;
}

h1{
  font-size: 6rem;
  text-shadow: $text-shadow;
  color: $h1-color;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
h2{
  font-size: 2.4rem;
  text-shadow: $text-shadow;
}

.logo{
  height: calc(100% - 2rem);
}

.text-center{
  text-align: center;
}

/*
Flex
 */
.f{
  display: flex;

  &-w{
    flex-wrap: wrap;
  }
}

/*
Justify-content
 */
.jc{

  &-sb{
    justify-content: space-between;
  }

  &-c{
    justify-content: center;
  }
}

/*
Align-Items
 */
.ai{

  &-c{
    align-items: center;
  }
}

/*
Grid
 */
.grid{
  display: grid;
}

.error{

}


